<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946155507761-nnp9lo3kf40st8frak6kc5nrfdn8c1du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946155507761-nnp9lo3kf40st8frak6kc5nrfdn8c1du</string>
	<key>API_KEY</key>
	<string>AIzaSyBsgc8KCEs_IFFl6gXR6heGNfUC1OM0VSA</string>
	<key>GCM_SENDER_ID</key>
	<string>946155507761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-9667f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-9667f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946155507761:ios:5fdfba68ce8f535da8c510</string>
</dict>
</plist>